body {
    height: 100vh;
    margin: 0;
    background: #202020;
}

:root {
    --particle-count: 200;
    --particle-radius-min: 5;
    --particle-radius-max: 10;
    --particle-shape: star-outline;
    --particle-movement: radial;
    /* STAR SPINNING */
    --particle-spin-min: -0.001;
    /* Minimum star rotation speed (radians/frame). */
    --particle-spin-max: 0.001;
    /* Maximum star rotation speed (radians/frame). */

    /* RADIAL MOVEMENT */
    --particle-radial-speed: 0.01;
    /* Base speed for radial orbit (the actual speed also depends on spawn radius and jitter). */
}

@media screen and (max-aspect-ratio: 1/1) {
    :root {
        --particle-count: 150;
        --particle-radius-min: 3;
        --particle-radius-max: 8;
    }
}

@media screen and (max-aspect-ratio: 9/17) {
    :root {
        --particle-count: 300;
        --particle-radius-min: 1;
        --particle-radius-max: 4;
    }
}

@media (prefers-reduced-motion) {
    :root {
        --particles-off: 1;
    }
}